h3 {
    position: absolute;
    left: 500px;
    top: 8%;
    color: black;
    font-size: larger;
}

#fcfs {
    top: 28%;
    left: 63%;
    position: absolute;
}

.processor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: large;
    color: black;
    background-color: #B9FF2E;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
}

.processor #name,
.processor #space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 47px;
}

#restart {
    position: absolute;
    background-color: #3BF2FF;
    color: black;
    height: 45px;
    width: 10%;
    border-radius: 5px;
    top: 87%;
    left: 38%;
}

#new {
    position: absolute;
    background-color: #0BA634;
    color: white;
    height: 45px;
    width: 10%;
    border-radius: 5px;
    top: 87%;
    left: 50%;
}

#details {
    position: absolute;
    background-color: #440664;
    color: white;
    height: 45px;
    width: 10%;
    border-radius: 5px;
    top: 87%;
    left: 85%;
}

#queue {
    position: absolute;
    background-color: rgba(176, 235, 15, 0.767);
    text-align: center;
    width: 210px;
    height: 90%;
    top: 3.5%;
    left: 8.5%;
}

#legend {
    position: absolute;
    width: 127px;
    height: 20%;
    top: 2%;
    left: 85%;
    background-color: white;
    border-style: solid;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
}

#legend .legend-item {
    display: flex;
    align-items: center;
}

#ready,
#running,
#terminated {
    height: 15px;
    width: 15px;
    color: black;
    margin: 4%;
}

#ready {
    background-color: #0E6800;
    border-color: #0E6800;
}

#running {
    background-color: #0031A3;
    border-color: #0031A3;
}

#terminated {
    background-color: #FF0000;
    border-color: #FF0000;
}

#detailTable {
    text-align: center;
}

#animation {
    margin: 8% 10% 0%;
    width: 75%;
    background-color: white;
    border: 8px black solid;
    height: 400px;
    border-radius: 3%;
    position: relative;
}