h3{
    position: absolute;
    left: 789px;
    top: 288px;
    color: black;
    font-size: larger;
}

.process-roundrobin{
    border: 2px black solid;
    border-radius: 100%;
    height: 65px;
    width: 65px;
    left: 10%;
    background-color: #0E6800;
    z-index: 2;
}
.processor-roundrobin{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: #B9FF2E;
    height: 299px;
    width: 350px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    box-shadow: 2px 2px 2px;
    top: 458px;
    left: 785px;
}

.processor-roundrobin #name, .processor #space{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 47px;
    top: 21px;
}

#restart{
    position: absolute;
    background-color: #3BF2FF;
    color: black;
    height: 89px;
    width: 214px;
    border-radius: 50px;
    border-style: solid;
    border-color: #3BF2FF;
    top: 782px;
    left: 1499px;
    font-weight: bold;
    cursor: pointer;
}

#new{
    position: absolute;
    background-color: #0BA634;
    color: white;
    height: 89px;
    width: 214px;
    border-radius: 50px;
    border-style: solid;
    border-color: #0BA634;
    top: 782px;
    left: 1274px;
    font-weight: bold;
    cursor: pointer;
}

#details{
    position: absolute;
    background-color: #440664;
    color: white;
    height: 89px;
    width: 221px;
    border-radius: 50px;
    border-style: solid;
    border-color: #440664;
    top: 661px;
    left: 1383px;
    font-weight: bold;
    cursor: pointer;
}

#queue{
    position: absolute;
    font-weight: bold;
    background-color: white;
    border: gray;
    border-style: solid;
    box-shadow: gray 2px 2px 2px;
    border-radius: 80px;
    text-align: center;
    width: 210px;
    height: 523px;
    top: 371px;
    left: 251px;
}

#rejoinarrow{
    position: absolute;
    width: 133px;
    height: 110px;
    top: 762px;
    left: 481px;
}

#legend{
    text-align: center;
    position: absolute;
    width: 295px;
    height: 184px;
    top: 421px;
    left: 1346px;
    background-color: white;
    border-style: solid;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    font-weight: bold;
}

#legend .legend-item{
    display: flex;
    align-items: center;   
}

#ready, #running, #terminated{
    height: 30px;
    width: 39px;  
    margin-top: 3%; 
    margin-right: 2%;
    margin-left: 22%;
    margin-bottom: 2%;
}

#ready{
    
    background-color: #0E6800;
    border-color: #0E6800;
    
    
}

#running{
    
    background-color: #0031A3;
    border-color: #0031A3;
   
}

#terminated{
    
    background-color: #FF0000;
    border-color: #FF0000;
    
}

#detailTable{
    text-align: center;
}

@keyframes movetoProcessor{
    10%{
        left: 72%;
        top:55%;
    }
    20%{
        left: 72%;
        top:55%; 
    }
    30%{
        left: 72%;
        top:55%;
    }
    40%{
        left: 72%;
        top:55%;
    }
    50%{
        left: 72%;
        top:55%;
        background-color:#0031A3 ;
    }
    60%{
        left: 72%;
        top:55%;
        background-color: #0031A3;
    }
    70%{
        left: 72%;
        top:55%;
        background-color: #0031A3;
    }
    80%{
        left: 72%;
        top:55%;
        background-color: #0031A3;
    }
    90%{
        left: 72%;
        top:55%;
        background-color: #FF0000;
        opacity: 1;
    }
    100%{
        left: 72%;
        top:55%;
        background-color: #FF0000;
        opacity: 0;
    }
}

@keyframes moveToQueue{
    10%{
        left: 72%;
        top:55%; 
    }
    20%{
        left: 72%;
        top:55%;
    }
    30%{
        left: 72%;
        top:55%;
    }
    40%{
        left: 72%;
        top:55%;
    }
    50%{
        left: 72%;
        top:55%;
        background-color: #FF0000;
    }
    60%{
        left: 72%;
        top:55%;
        background-color: #FF0000;
    }
    70%{
        left: 72%;
        top:55%;
        background-color: #FF0000;
    }
    80%{
        left: 72%;
        top:55%;
        background-color: #FF0000;
    }
    90%{
        left: 72%;
        top:55%;
        background-color: #0E6800;
        opacity: 1;
    }
    95%{
        left: 72%;
        top:55%;
        background-color: #0E6800;
        opacity: 1;
    }
    100%{
        left: 72%;
        top:55%;
        background-color: #0E6800;
        opacity: 0;
    }
}

@keyframes arrive{
    100%{
        opacity: 1;
    }
}
