#rr-container{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.884);
    width: 70rem;
    height: 32rem;
    margin: auto;
}
#rr-h3{
    font-family: 'Abril Fatface', cursive;font-size: 1.8rem;
    border-bottom:2px solid #707070;
    margin-bottom: 0;
}
#rr-queue{
    background-color: rgb(255, 255, 255);
    width: 7.5rem;
    height:26rem;
    border-radius: 50px;
    font-family: 'Abril Fatface', cursive;
    padding:5px;
    padding-top:10px;
    font-size: 1.7rem;
    filter: drop-shadow(0px 12px 16px rgb(220, 220, 220));
    box-shadow: 3px 5px 5px #888888;
}
#rr-legend{
    background-color:white;
    width:13rem;
    height: 8rem;
    border-radius: 20px;
}
#rr-legend{
    border: 2px solid #1B0C63;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
    padding-top: 10px;
    filter: drop-shadow(0px 0px 10px #1a0c63c4);
    padding-bottom: 5px;
}
.rr-legend-item{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 1.0rem;
    margin-bottom: 8px;
    text-align: left;
    padding-left: 15px;
}
#rr-ready{
    height: 1.2rem;
    width: 1.6rem;
    background-color: #0E6800;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}
#rr-running{
    height: 1.2rem;
    width: 1.6rem;
    background-color: #0031A3;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}
#rr-terminated{
    height: 1.2rem;
    width: 1.6rem;
    background-color: #FF0000;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}
#rr-details{
    border-radius: 20px;
    background-color:#440664;
    font-family: 'Abril Fatface', cursive;
    color: white;
    width:7.5rem;
    height: 3rem;
    font-size: large;
    font-weight: 700;
    border: 0rem;
    box-shadow: 3px 3px 3px #161616;
}
#rr-new{
    border-radius: 20px;
    background-color:#0BA634;
    font-family: 'Abril Fatface', cursive;
    color: white;
    width: 6.8rem;
    height: 2.7rem;
    font-size: large;
    font-weight: 700;
    border: 0rem;
    box-shadow: 3px 3px 3px #161616;
}
#rr-restart{
    border-radius: 20px;
    background-color:#3BF2FF;
    font-family: 'Abril Fatface', cursive;
    width:6.8rem;
    height: 2.7rem;
    font-size: large;
    font-weight: 700;
    border: 0rem;
    box-shadow: 3px 3px 3px #161616;
}
#rr-details:hover{
    background-color: #ad0aff;
    border: 0rem;
    box-shadow: 3px 3px 3px #161616;
}
#rr-details:active{
    background-color: #ad0aff;
    outline: none;
    border: 0% !important;
    box-shadow: 3px 3px 3px #e9b1ff; 
}
#rr-details:focus{
    background-color: #ad0aff;
    outline: none;
}
#rr-new:hover{
    background-color: #10ff50;
}
#rr-new:active{
    background-color: #10ff50;
    outline: none;
    border: 0% !important;
    box-shadow: 3px 3px 3px #92ffaf;
}
#rr-new:focus{
    background-color: #10ff50;
    outline: none;
}
#rr-restart:hover{
    background-color: #7ef6ff;
    
}
#rr-restart:active{
    outline:none;
    border: 0% !important;
    box-shadow: 3px 3px 3px #d9fafd;
}
#rr-restart:focus{
    background-color: #7ef6ff;
    outline: none;
}
.rr-processor{
    width: 15.5rem;
    height: 13rem;
    background-color:#B9FF2E;
    border: 0.2rem solid black;
    border-radius: 15px;
}
.rr-processor #rr-name{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.6rem;
    padding-top: 4px;
}
.rr-processor{
    filter: drop-shadow(0px 12px 12px rgb(161, 201, 161));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
    z-index: 1;
}
.rr-processor #rr-space{
    margin:1rem;
    width: 13rem;
    height: 8rem;
}
#rr-rejoinarrow{
    width: 4.5rem;
}
#rr-container #rr-animation .rr-processor{
    position: absolute;
    left:38.5%;
    top:18%;
}
#rr-container #rr-animation #rr-rejoinarrow{
    position: absolute;
    top:70%;
    left:15%;
}
#rr-container #rr-animation #rr-legend{
    position: absolute;
    top:10%;
    left:73%;
}

#rr-container #rr-animation #rr-details{
    position: absolute;
    top:48%;
    left:77%;
}
#rr-container #rr-animation #rr-new{
    position: absolute;
    top:65%;
    left:72%;
}
#rr-container #rr-animation #rr-restart{
    position: absolute;
    top:65%;
    left:83%;
}

#rr-container #rr-animation #rr-queue{
    position: absolute;
    top:7%;
    left: 2%;
}

#rr-container #rr-animation{
    position: relative;
    height: 27rem;
    margin: 0px;
}
#rr-detailTable{
    text-align: center;
}
.process-roundrobin{
    position: absolute;
    border: 0;
    color: white;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    left: 4.5%;
    background-color: #0E6800;
    font-weight: 200;
    font-size: small;
    box-shadow: 3px 3px 3px #161616;
    text-align: center;
    z-index: 2;
}

@keyframes rr-movetoProcessor{
    10%{
        left: 47%;
        top: 37%;
    }
    20%{
        left: 47%;
        top: 37%; 
    }
    30%{
        left: 47%;
        top: 37%;
    }
    40%{
        left: 47%;
        top: 37%;
    }
    50%{
        left: 47%;
        top: 37%;
        background-color:#0031A3 ;
    }
    60%{
        left: 47%;
        top: 37%;
        background-color: #0031A3;
    }
    70%{
        left: 47%;
        top: 37%;
        background-color: #0031A3;
    }
    80%{
        left: 47%;
        top: 37%;
        background-color: #0031A3;
    }
    90%{
        left: 47%;
        top: 37%;
        background-color: #FF0000;
        opacity: 1;
    }
    100%{
        left: 95%;
        top: 80%;
        background-color: #FF0000;
        opacity: 0;
    }
}

@keyframes rr-moveToQueue{
    10%{
        left: 47%;
        top: 37%; 
    }
    20%{
        left: 47%;
        top: 37%;
    }
    30%{
        left: 47%;
        top: 37%;
    }
    40%{
        left: 47%;
        top: 37%;
    }
    50%{
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    60%{
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    70%{
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    80%{
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    90%{
        left: 47%;
        top: 37%;
        background-color: red;
        opacity: 1;
    }
    95%{
        left: 95%;
        top: 80%;
        background-color: red;
        opacity: 1;
    }
    100%{
        left: 95%;
        top: 80%;
        background-color: red;
        opacity: 0;
    }
}

@keyframes arrive{
    100%{
        opacity: 1;
    }
}