#sjf-h3{
    position: absolute;
    left: 789px;
    top: 288px;
    color: black;
    font-size: larger;
}
.sjf-processer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: large;
    color: black;
    background-color: #B9FF2E;
    height: 299px;
    width: 350px;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
}

.sjf-processer #sjf-name, .processer #sjf-space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 47px;
}

#sjf-restart{
    position: absolute;
    background-color: #3BF2FF;
    color: black;
    height: 89px;
    width: 214px;
    border-radius: 5px;
    top: 782px;
    left: 1499px;
}

#sjf-new{
    position: absolute;
    background-color: #0BA634;
    color: white;
    height: 89px;
    width: 214px;
    border-radius: 5px;
    top: 782px;
    left: 1274px;
}

#sjf-details{
    position: absolute;
    background-color: #440664;
    color: white;
    height: 89px;
    width: 221px;
    border-radius: 5px;
    top: 661px;
    left: 1383px;
}

#sjf-queue{
    position: absolute;
    background-color: white;
    text-align: center;
    width: 210px;
    height: 523px;
    top: 371px;
    left: 251px;
}

#sjf-legend{
    position: absolute;
    width: 295px;
    height: 184px;
    top: 421px;
    left: 1346px;
    background-color: white;
    border-style: solid;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
}

#sjf-legend.sjf-legend-item{
    display: flex;
    align-items: center;
}

#sjf-ready, #sjf-running, #sjf-terminated{
    position: absolute;
    height: 30px;
    width: 39px;
    color: black;
}

#sjf-ready{
    background-color: #0E6800;
    border-color: #0E6800;
    top: 462px;
    left: 1392px;
}

#sjf-running{
    background-color: #0031A3;
    border-color: #0031A3;
    top: 510px;
    left: 1392px;
}

#sjf-terminated{
    background-color: #FF0000;
    border-color: #FF0000;
    top: 558px;
    left: 1392px;
}

#sjf-detailTable{
    text-align: center;
}


/*@keyframes sjf-moveToProcessor{

    10% {
        left: 72%;
        top: 55%;
    }
    20% {
        left: 72%;
        top: 55%;
    }
    30% {
        left: 72%;
        top: 55%;
    }
    40% {
        left: 72%;
        top: 55%;
    }
    50% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    60% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    70% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    80% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    90% {
        left: 72%;
        top: 55%;
        background-color: black;
        opacity: 1;
    }
    100% {
        left: 90%;
        top: 55%;
        background-color: black;
        opacity: 0;
    }
}*/
