#fcfscontainer{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

#fcfsrestart {
    position: absolute;
    background-color: #3BF2FF;
    color: black;
    height: 2.7rem;
    width: 6.8rem;
    font-family: 'Abril Fatface', cursive;
    top: 65%;
    left: 83%;
    font-size: large;
    font-weight: 700;
    border: 0rem;
}

#fcfsnew {
    position: absolute;
    background-color: #0BA634;
    font-family: 'Abril Fatface', cursive;
    color: white;
    height: 2.7rem;
    width: 6.8rem;
    top: 65%;
    left: 72%;
    border: 0rem;
    font-size: large;
    font-weight: 700;
}

#fcfsdetails {
    position: absolute;
    background-color: #440664;
    color: white;
    height: 3rem;
    width: 7.5rem;
    top: 48%;
    left: 77%;
    font-family: 'Abril Fatface', cursive;
    font-size: large;
    font-weight: 700;
    border: 0rem;
}

#fcfsrestart,
#fcfsnew,
#fcfsdetails {
    border-radius: 20px;
    box-shadow: 3px 3px 3px #161616;
}
#fcfsdetails:hover{
    background-color: #ad0aff;
    border: 0rem;
    box-shadow: 3px 3px 3px #161616;
}
#fcfsdetails:active{
    background-color: #ad0aff;
    outline: none;
    border: 0% !important;
    box-shadow: 3px 3px 3px #e9b1ff; 
}
#fcfsdetails:focus{
    background-color: #ad0aff;
    outline: none;
}
#fcfsnew:hover{
    background-color: #10ff50;
}
#fcfsnew:active{
    background-color: #10ff50;
    outline: none;
    border: 0% !important;
    box-shadow: 3px 3px 3px #92ffaf;
}
#fcfsnew:focus{
    background-color: #10ff50;
    outline: none;
}
#fcfsrestart:hover{
    background-color: #7ef6ff;
    
}
#fcfsrestart:active{
    outline:none;
    border: 0% !important;
    box-shadow: 3px 3px 3px #d9fafd;
}
#fcfsrestart:focus{
    background-color: #7ef6ff;
    outline: none;
}

#fcfsqueue {
    position: absolute;
    filter: drop-shadow(0px 12px 16px rgb(220, 220, 220));
    box-shadow: 3px 5px 5px #d4d4d4;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 7.5rem;
    height: 26rem;
    padding: 10px 5px;
    top: 7%;
    left: 2%;
    border-radius: 50px;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.7rem;
}

#fcfslegend {
    /*Font*/
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
    /*Styling*/
    background-color: white;
    border: 2px solid #1B0C63;
    padding-top: 10px;
    padding-bottom: 5px;
    filter: drop-shadow(0px 0px 10px #1a0c63c4);
    border-radius: 20px;
    /*Postition*/
    position: absolute;
    width: 13rem;
    height: 8rem;
    top: 10%;
    left: 73%;
}

#fcfslegendKeyHead {
    text-align: center;
}

#fcfslegend .fcfslegend-item {
    font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.0rem;
    margin-bottom: 8px;
    text-align: left;
    padding-left: 15px;
}

#fcfsready,
#fcfsrunning,
#fcfsterminated {
    height: 1.2rem;
    width: 1.6rem;
    margin-left: 5px;
    margin-right: 5px;
}

#fcfsready {
    background-color: #0E6800;
}

#fcfsrunning {
    background-color: #0031A3;
}

#fcfsterminated {
    background-color: #FF0000;
}

#detailTable {
    text-align: center;
}

#fcfscontainer {
    margin: 2% 0%;
    width: 70rem;
    background-color: rgba(224, 224, 224, 0.884);
    border: 2px black solid;
    height: 32rem;
    position: relative;
    box-shadow: 0px 0px 15px 5px #888888;
}

#fcfs-head {
    border-bottom: solid 1px black;
    text-align: center;
}

.process-sjf {
    position: absolute;
    border: 0;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    left: 4.5%;
    background-color: green;
    box-shadow: 3px 3px 3px #161616;
    color: white;
    font-size: small;
    font-weight: 200;
}

.process-sjf div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.processor-sjf,
.process-sjf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.processorfcfs #name{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.6rem;
    padding-top: 4px;
}
.processorfcfs #space{
    margin:1rem;
    width: 13rem;
    height: 8rem;
}

.processorfcfs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 18%;
    left: 38.5%;
    height: 13rem;
    width: 15.5rem;
    background-color: #B9FF2E;
    border-radius: 15px;
    border: 0.2rem solid black;
}


@keyframes moveToprocessor-fcfs {
    10% {
        left: 47%;
        top: 37%;
    }
    20% {
        left: 47%;
        top: 37%;
    }
    30% {
        left: 47%;
        top: 37%;
    }
    40% {
        left: 47%;
        top: 37%;
    }
    50% {
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    60% {
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    70% {
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    80% {
        left: 47%;
        top: 37%;
        background-color: blue;
    }
    90% {
        left: 47%;
        top: 37%;
        background-color: red;
        opacity: 1;
    }
    100% {
        left: 95%;
        top: 80%;
        background-color: red;
        opacity: 0;
    }
}
